extends ../inc/layout
block navigation
  li: a(href="members") members
  li.active: a(href="#") posts
  li: a(href="https://gist.github.com/") new post

block jumbotron
  .cl-header
    .container
      .jumbotron
        h1
          | codelove <small>community</small>
block body
  .container
    h2 posts
    br
    table(class="table table-striped")
      thead
        tr
          th
          th user
          th description
      tbody
        each gist in gists 
          tr
            td(style="width: 50px"): img(src="#{gist.owner.avatar_url}", height="46", width="46", style="float: left;")
            td(style="vertical-align: middle") #{gist.owner.login}
            if gist.description == ""
              td(style="vertical-align: middle"): a(href="#{gist.html_url}") (no description available)
            else
              td(style="vertical-align: middle"): a(href="#{gist.html_url}") #{gist.description}
